html,body{
    font-family: sans-serif;
    font-size: 20px;
}

h1{
    color: #a039a0 ;
}
img{
	width:100%;
}

.card, h1{
    text-align: center;
}
@media screen and (min-width:50em){


	
.paragraph{

  margin-left: 12rem;
  line-height: 1.4;

 }
 .card{
     margin: 0 5rem ;
 }
}
